

<div class="generic-container">

  <form class="add-bike-form" id="uploadForm" enctype="multipart/form-data" method="post" action="/upload">
    <div class="form-group text-center alert-area" id="upload_photo_group">
      <label class="custom-file-upload">
      <input type="file" name="bike_photo" id="bike_photo" class="form-control-file">

      <div class="upload-target-wrapper">

        {{#if bike.photo_url}}
        <img src="{{s3Url}}{{bike.photo_url}}" class="add-bike-photo" id="upload-target" style="display: inline;">
        {{else}}
        <img src="/images/example-with-upload.png" class="add-bike-photo upload-placeholder" id="upload-target" style="display: inline;">
        {{/if}}

        <div class="progress" style="visibility: hidden;"><div>Loading…</div></div>
      </div>
      <div class="choose-photo">Choose a photo of your bike from the side</div>
      <input type="hidden" name="original_filename">
      </label>
    </div>
    <input type="hidden" name="bike_id" value="{{bike.id}}">
    <input type="hidden" name="user_id" value="{{user.id}}">

    <input type="hidden" name="xValue" value="0">
    <input type="hidden" name="yValue" value="0">
    <input type="hidden" name="cropWidth" value="">
    <input type="hidden" name="cropHeight" value="">

    <input type="hidden" name="actualHeight" value="">
    <input type="hidden" name="actualWidth" value="">

    <input type="hidden" id="hacked_main_path" value="">

  </form>
</div>
