      <div class="bike-detail-container">
        <img class="bike-detail" src="{{bike.photo_url}}" alt="{{bike.title}}">
      </div>

{{#if bike.title}}
 <div class="row">
<div class="col-lg-12">
<h5 style="margin: 30px 0;">{{bike.title}}</h5>
</div>
</div>
{{/if}}


      {{#if bike.description}}
 <div class="row">
<div class="col-lg-12">
{{!--         <h5>About {{bike.user_id}}'s bike</h5> --}}
        <p>{{bike.description}}</p>
      </div>

      </div>
      {{/if}}


      <div class="row">
        <div class="col-lg-7">
         
			<dl class="row">

			{{#if bike.nickname}}
			  <dt class="col-sm-3">Name</dt>
			  <dd class="col-sm-9">{{bike.nickname}}</dd>
			{{/if}}

			{{#if bike.details}}
			  <dt class="col-sm-3">Details</dt>
			  <dd class="col-sm-9">{{bike.details}}</dd>
      {{/if}}


			{{#if bike.city}}
			  <dt class="col-sm-3 text-truncate">City</dt>
			  <dd class="col-sm-9">{{bike.city}}</dd>
			{{/if}}

			</dl>

      </div>

      </div>


    <hr>

          <br><br>
  <div class="bike-detail-container">
     <p><a class="btn btn-lg btn-youll-grow-out-of-it" href="/add" role="button">+ Add Your Bike</a></p>
  </div>

