<div class="row">
  {{#each results}}
  <div class="col-md-4">

  <div class="card">
    <a href="/bike/{{id}}" class="card-photo-wrapping-link">

  <div class="card-photo-wrapper">
    <img class="card-photo" height="100%" src="https://s3-us-west-1.amazonaws.com/amb-storage{{main_photo_path}}" alt="Fuji">
  </div>
  <div class="card-block">
    <h6 class="card-title">
    <a href="/bike/{{id}}">{{title}}</a>
  </h6>
  <p class="card-text">{{description}}</p>
  </div>

  </div>
  </div>
  {{/each}}

  {{#unless results}}
   No bikes yet.
  {{/unless}}
</div>

  <br><br>
  <div class="bike-detail-container">
     <p><a class="btn btn-lg btn-youll-grow-out-of-it" href="/add" role="button">+ Add Your Bike</a></p>
  </div>
