
{{#if bike.title}}
  <h4 class="title">XXX's {{bike.title}}</h4><div class="float-right edit-link-align-to-title"><a href="/edit/{{bike.id}}">Edit Bike</a></div>
{{/if}}

<div class="row">

  <div class="col-md-6 bike-column">
    <p><img class="bike-photo" src="{{s3Url}}{{bike.main_photo_path}}" alt="{{bike.title}}"></p>
  </div>

   <div class="col-md-6">

{{!--       {{#if bike.title}}
        <h4 class="title">{{bike.title}} &nbsp;<span class="title-edit-link-wrapper">(<a href="/edit/{{bike.id}}">Edit Bike</a>)</span></h4>
      {{/if}} --}}

    {{#if bike.description}}
      <p>{{bike.description}}</p>
    {{/if}}

		<dl class="row">

			{{#if bike.nickname}}
			  <dt class="col-sm-2">Name</dt>
			  <dd class="col-sm-10">{{bike.nickname}}</dd>
			{{/if}}

      {{#if bike.type}}
        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">{{bike.type}}</dd>
      {{/if}}

      {{#if bike.for}}
        <dt class="col-sm-2">For</dt>
        <dd class="col-sm-10">{{bike.for}}</dd>
      {{/if}}

      {{#if bike.color}}
        <dt class="col-sm-2">Color</dt>
        <dd class="col-sm-10"><div class="color-block" style="background-color: {{bike.color}};">&nbsp;</div></dd>
      {{/if}}

      {{#if bike.manufacturer_name}}
        <dt class="col-sm-2">Brand</dt>
        <dd class="col-sm-10">{{bike.manufacturer_name}}</dd>
      {{/if}}

      {{#if bike.model_name}}
        <dt class="col-sm-2">Model</dt>
        <dd class="col-sm-10">{{bike.model_name}}</dd>
      {{/if}}

      {{#if bike.era}}
        <dt class="col-sm-2">Era</dt>
        <dd class="col-sm-10">{{bike.era}}</dd>
      {{/if}}

{{!-- 			{{#if bike.city}}
			  <dt class="col-sm-2 text-truncate">City</dt>
			  <dd class="col-sm-10">{{bike.city}}</dd>
			{{/if}} --}}

      {{#if bike.serial_number}}
        <dt class="col-sm-2">SN</dt>
        <dd class="col-sm-10">{{bike.serial_number}}</dd>
    {{/if}}

		</dl>

   </div>

</div>

   <hr>
  <br>
{{!--   <div class="cta-wrapper">
     <div class="cta"><a class="btn btn-lg btn-success" href="/add" role="button">Edit Your Bike</a></div>
  </div>
 --}}
