<script type="text/javascript" defer="defer">

  $(document).ready(function() {
    if (location.hash === '') {
      var defaultTab = '#intro';
      $('a[href="'+ defaultTab + '"]').tab('show');
      //history.pushState(null, null, defaultTab);
    }
    if (location.hash !== '') {
      $('a[href="' + location.hash + '"]').tab('show');
    }

    $('a[data-toggle="tab"]').on('click', function(e) {
      // you may need to remove the alert, say, if the user tries to undo
      // the desc of an existing bike and then go to the basics form
      $('.alert-warning').remove();
      history.pushState(null, null, $(this).attr('href'));
    });

    window.addEventListener("popstate", function(e) {
      // this assumes that the URL has changed and this gets the right one.
      var activeTab = $('a[href="' + location.hash + '"]');
      if (activeTab.length) {
        activeTab.tab('show');
      } else {
        //$('.nav-tabs a:first').tab('show');
      }
    });

    $("#editIntro").submit(function(event) {
      event.preventDefault();
      var desc = $('#description');

      var step2 = $('a[href="#basics"]');

      if($(this).find('input[name=bike_id]').val() === '') {
        appendAlert('Please attach a bike photo before submitting this form.');
        return;
      }

      if(desc.val() === '') {
        //var originalBorderColor = desc.attr('border-color');
        appendAlert('Please enter some thoughts about your bike.');
        desc.focus();
        return;
      }

      var reasons = [];
      $("input[name='reason_ids']:checkbox:checked").each(function(){
        reasons.push($(this).val());
      })
      $("#reasons").val(reasons.join(','));
      //this.submit();

      $.ajax({
        url: $(this).attr('action'),
        type: 'POST',
        data: $(this).serialize(),
        success: function(data) {
          if($('#is_new').val() === '1') {
            $('.alert-warning').remove();
            // we hide the basics tab until they finish intro.
            $('#basics_nav_item').show();
            step2.tab('show');
          } else {
            // also can add "view bike"
            //appendAlert('Intro saved. <a data-toggle="tab" href="/edit/' + $('#intro input[name=bike_id]').val() +'#basics">Edit basics</a>');
            //appendAlert('Intro values saved.');
            location.replace('/bike/' + $('#intro input[name=bike_id]').val());
          }
        },
        error: function(err) {
          appendIntroAlert(JSON.stringify(err));
        }
      });

    });



    $("#uploadForm").submit(function( event ) {
      event.preventDefault();
      //disable submit until photo is updated.
      // is this nec?? If they've attached a new image it will get updated even if the user
      // navigates away, right?

      //$("#submitIntro").prop("disabled",true);
      $.ajax({
        url: $(this).attr('action'),
        type: 'POST',
        // Form data
        data: new FormData(this),
        cache: false,
        contentType: false,
        processData: false,
        xhr: function() {
          var myXhr = $.ajaxSettings.xhr();
          return myXhr;
        },
        success: function(data) {
          appendAlert('Successfully attached your bike photo.');
          if($('input[name=bike_id]').val() === '') {
            $('input[name=bike_id]').val(data.id);
          }
        },
        error: function(err) {
          // be transparent and output error. 
          // but how to you get specific error and not whole page?
          appendAlert('Error attaching bike photo. Please try again later.');
        }//,
        // complete: function() {
        //   $("#submitIntro").prop("disabled",true);
        // }
      });
    });

    function appendAlert(msg, elem) {
      // remove any existing alert warnings
      $('.alert-warning').remove();
      if(!elem) {
        elem = $('#upload_photo_group');
      }
      elem.append('<div class="alert alert-warning" role="alert">' + msg + '</div>');
    }

    function filePreview(input, callback) {
      $('.alert-warning').remove();
      var maxSize = {{maxPhotoSize}};
      var minSize = {{minPhotoSize}};
      // lame
      var acceptedFileTypes = [];
      {{#each acceptedFileTypes}}
      acceptedFileTypes.push("{{this}}");
      {{/each}}

      if (input.files && input.files[0]) {  
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#upload-target').attr('src', e.target.result);
          $('#upload-target').removeClass('upload-placeholder');
        }
        if(input.files[0].type !== 'image/jpeg' && input.files[0].type !== 'image/png') {
          appendAlert('Bike photo must be an image.');
          return;
        }
        if(input.files[0].size <= minSize) {
          appendAlert('Image size must be at least ' + minSize/1000 + 'K (Yours is ' + Math.round(input.files[0].size/1000) + 'K). Please attach a larger photo of your bike.');
          return;
        }
        if(input.files[0].size > maxSize) {
          appendAlert('Image size must be at less than <nowrap>' + maxSize/1000000 + ' Megabytes</nowrap> (Yours is ' + (input.files[0].size/1000000).toFixed(2) + 'M). Please attach a smaller photo of your bike.');
          return;
        }
        reader.readAsDataURL(input.files[0]);
        $('#file_name').val(input.files[0].name);

        callback();
      } else {
        throw new Error('client script logic wrong Ann');
      }
    }
    $("#bike_photo").change(function () {
      filePreview(this, function() {
        $("#uploadForm").submit();
      });
    });

    /* STEP 2 functions */ 
    function searchAndUpdateBrand(str) {
      var searchBrandAjax = new XMLHttpRequest();
      // use the value they entered to try to figure out the brand.
      searchBrandAjax.open("GET", "/api/brand_by_name/" + str, true);
      searchBrandAjax.onload = function() {
        var result = JSON.parse(searchBrandAjax.responseText);
        if (result.status === 'success') {
          $('#brand_id').val(result.data.id);
          // for some brands you may want to transform the #brand field text
          // but I can't think how, because brand vs manufacturer is usu. the shorter string:
          // Trek vs Trek Bicycle Foundation
        } else {
          // user may have previously selected another brand
          $('#brand_id').val('');
        }
        getBrandModels(result.data.id);
      };
      searchBrandAjax.send();
    }

    function getBrandModels(brand_id) {
      var getModelsAjax = new XMLHttpRequest();
      // use the value they entered to try to figure out the brand.
      getModelsAjax.open("GET", "/api/models_by_brand/" + brand_id, true);
      getModelsAjax.onload = function() {
        var list = JSON.parse(getModelsAjax.responseText);
        if(list.length > 0) {
          new Awesomplete(
            document.querySelector("#model"),
            { 
              list: list,
              filter: Awesomplete.FILTER_STARTSWITH
            });
        }
      };
      getModelsAjax.send();
    }

    var ajax = new XMLHttpRequest();
    ajax.open("GET", "/api/brands", true);
    ajax.onload = function() {
      var list = JSON.parse(ajax.responseText);
      new Awesomplete(
        document.querySelector("#brand"),
        { 
          list: list,
          filter: Awesomplete.FILTER_STARTSWITH,
          sort: function(item) { // need to override sort. false doesn't work
            return item;
          }
        });
    };
    ajax.send();

    $("#brand").change(function () {
      searchAndUpdateBrand(this.value);
    });

    addEventListener("awesomplete-select", function(e) {
      if(e.target.name === 'brand') {
        getBrandModels(e.text.value);
      }
      var hiddenFieldToUpdate = '#' + e.target.name + '_id';
      $(hiddenFieldToUpdate).val(e.text.value);
    }, false);


});


</script>

<h4 class="title">{{page_heading}}</h4>
{{#if bike.id}}
  <div class="float-right edit-link-align-to-title">
    <a href="/bike/{{bike.id}}">View Bike</a>
  </div>
{{/if}}

<div class="row">

<div class="col-md-6">

  <div class="generic-container">

  <form class="add-bike-form" id="uploadForm" enctype="multipart/form-data" method="post" action="/upload">
    <div class="form-group text-center" id="upload_photo_group">
      <label class="custom-file-upload">
      <input type="file" name="bike_photo" id="bike_photo" class="form-control-file">

      <div class="upload-target-wrapper">

        {{#if bike.main_photo_path}}
        <img src="{{s3Url}}{{bike.main_photo_path}}" width="540" class="bike-photo add-bike-photo" id="upload-target" style="display: inline;">
        {{else}}
        <img src="/images/example-with-upload.png" class="bike-photo add-bike-photo upload-placeholder" id="upload-target" style="display: inline;">
        {{/if}}

{{!--   <p class="text-warning" id="replace_image_hint" style="display:none;">Use another photo</p> --}}

        <div id="choose_photo_help" class="bike-photo add-bike-photo">Choose a photo{{!--  or drag it here --}}</div>

      </div>

      <p class="help-block" id="primary_photo_help">(Primary photo must be from the side)</p>

      <input type="hidden" name="original_filename" id="file_name" />
      </label>
    </div>
    <input type="hidden" name="bike_id" value="{{bike.id}}">
    <input type="hidden" name="user_id" value="1">
  </form>


  </div>

</div>

<div class="col-md-6">

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#intro" role="tab">Intro</a>
  </li>
  <li class="nav-item" id="basics_nav_item" {{#unless bike.id}}style="display:none"{{/unless}}>
    <a class="nav-link"  data-toggle="tab" href="#basics" role="tab">Basics</a>
  </li>
{{!--   <li class="nav-item">
   <a class="nav-link"  data-toggle="tab" href="#specifics" role="tab">Specifics</a>
  </li> --}}
</ul>

<div class="tab-content">

  <div class="tab-pane" id="intro" role="tabpanel">
  <form id="editIntro" method="post" action="/edit">
    <input type="hidden" name="step" value="1">
    <input type="hidden" name="is_new" id="is_new" value="{{#if bike.id}}0{{else}}1{{/if}}">
    <input type="hidden" name="user_id" value="1">
    <input type="hidden" name="bike_id" value="{{bike.id}}">
    <div class="form-group">
{{!--     <label for="saySomething">What about your bike?</label> --}}
    <label for="description">Say what you'd like about yourself and your bike</label>
    <textarea class="form-control" id="description" rows="{{rows}}" name="description">{{bike.description}}</textarea></div>

    <div class="form-group"><label for="nickname">If your bike had a name it would be</label><input type="text" class="form-control" id="nickame" name="nickname" value="{{bike.nickname}}"></div>

    <div class="form-group">
      <label for="type_id">Type</label>
      <select class="form-control" id="type_id" name="type_id">
        <option></option>
        {{#each types}}
          <option value="{{id}}"{{#if selected}} selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>This bike is for:</label><br>
      {{#each reasons}}
        <label class="checkbox-inline">
          <input type="checkbox" name="reason_ids" value="{{id}}"{{#if checked}} checked{{/if}}>
          {{label}}
        </label>
      {{/each}}
      <input type="hidden" name="reasons" id="reasons" value="">
    </div>

    <button type="submit" class="btn btn-primary" id="submitIntro">Save{{#if bike.id}} Intro{{else}} and Continue{{/if}}</button>

  </form>
  </div>

  <div class="tab-pane" id="basics" role="tabpanel">

  <form id="editDetails" method="post" action="/edit">

{{!--   <h5 id="step2_welcome">Good job adding stuff!</h5>
  <p>Here are a few more details you might add.</p> --}}

    <input type="hidden" name="step" value="2">
    <input type="hidden" name="is_new" value="{{#if bike.id}}0{{else}}1{{/if}}">
    <input type="hidden" name="user_id" value="1">
    <input type="hidden" name="bike_id" value="{{bike.id}}">

    <div class="form-group">
      <label for="color">Main Color:</label> &nbsp;
      <input type="color" class="color-input form-control" name="color" value="{{#if bike.color}}{{bike.color}}{{else}}#dcdbdf{{/if}}">
    </div>

    <div class="form-group">
    <label for="brand">Brand</label>
{{!--     class="awesomplete"  --}}
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Ex. Schwinn" value="{{bike.manufacturer_name}}">
    <input type="hidden" id="brand_id" name="brand_id">
    </div>

    <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model" name="model" placeholder="Ex. Stingray" value="{{bike.model_name}}">
    <input type="hidden" id="model_id" name="model_id">
    </div>

    <div class="form-group">
      <label for="era">Era</label>
      <select class="form-control" id="era" name="era">
        <option></option>
        {{#each eras}}
          <option {{#if selected}} selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="serial_number">Serial Number</label>
      <input type="text" class="form-control" id="serial_number" name="serial_number" value="{{bike.serial_number}}">
      <p class="help-block">Optional but important. <a href="#" data-toggle="modal" data-target="#myModal">See why.</a></p>
    </div>

{{!--     <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" name="country">
    </div> --}}

    <button type="submit" class="btn btn-primary" id="submitDetails">Save{{#if bike.id}} Basics{{else}} and View Bike{{/if}}</button>
  </form>

  </div>

{{!--   <div class="tab-pane" id="specifics" role="tabpanel">

<div class="alert alert-warning" role="alert">Disabled for now</div>

  <form id="editDetails" method="post" action="/edit">

    <input type="hidden" name="step" value="3">

    <div class="form-group">
      <label class="fixed-width-inline-form-control mb-2 mb-sm-0" for="handlebars">Handlebars</label>
      <select class="custom-select" id="handlebars" name="handlebars">
        <option></option>
        <option>Drop</option>
        <option>Bullhorn</option>
        <option>Flat</option>
        <option>Riser</option>
        <option>Cruiser / Upright</option>
        <option>Mustache</option>
        <option>BMX</option>
        <option>Trekking / Butterfly</option>
        <option>Ape Hangers</option>
        <option>Other</option>
      </select>
    </div>

    <div class="form-group">
      <label class="fixed-width-inline-form-control mb-2 mb-sm-0" for="gears">Gears</label>
      <select class="custom-select mb-2 mr-sm-4 mb-sm-0" id="gears" name="gears">
        <option></option>
        <option value="1">Derailer</option>
        <option value="2">Single</option>
        <option value="3">Hub</option>
      </select>
    </div>

    <div class="form-group">
      <label class="fixed-width-inline-form-control mb-2 mb-sm-0" for="brakes">Brakes</label>
      <select id="brakes" name="brakes" id="brakes" class="custom-select mb-2 mr-sm-4 mb-sm-0">
        <option></option>
        <option value="1">Rim</option>
        <option value="2">Disc</option>
        <option value="3">None</option>
      </select>
    </div>

    <div class="form-group form-inline">
      <select class="custom-select fixed-width-inline-form-control mb-2 mb-sm-0">
        <option>Add misc...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <input type="text" class="form-control" name="misc_detail">
    </div>

    <button type="submit" class="btn btn-primary" id="submitSpecifics" disabled>Save</button>

   </form>

  </div>
 --}}
</div>
</div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bicycle serial numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <p>The serial number is the unique id that will help recover your bike if it is stolen or lost, and therefore it is important that you record it.</p>

         

      <div class="row">

      <div class="col-md-6">

      <p>The serial number is probably located here:</p>
         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         </div>

         <div class="col-md-6">

         <p>But may be located in any of these places:</p>

         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         </div>
   </div>
         <p style="margin-top: 1.5rem;">Go ahead and record all the numbers you find; the more the better. Serial numbers are not displayed on bike pages.</p>

         <p class="text-warning">That's said, it's fine if you skip serial number for now.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br><br><br>