<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{app_name}} - {{page_title}}</title>
    <link rel="stylesheet" media="all" href="/css/main.css" />
    <link rel="stylesheet" media="all" href="/css/spectrum.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- ah! get this shit out of the head -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/tab.js"></script>
    <script src="/javascripts/dropdown.js"></script>
    <script src="/javascripts/awesomplete.js"></script>
    <script src="/javascripts/spectrum.js"></script>

    <!-- I don't think this is the best way to do this, but we'll just always update the login form's target when
      the user clicks on a link that could require login -->
    <script>
    // $(document).ready(function() {
    //   $('.auth-req-link').click(function() {
    //      $('#loginForm input[name=target]').val($(this).attr('href'));
    //   });
    // });
    </script>
  </head>

  <body>

  <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right nav-link-hack">
            <li class="nav-item">
              <a class="nav-link" href="/bikes">Bikes</a>
            </li>
            <!-- remove this link when the user has created a bike -->
            {{#if user.bike_id}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" href="/edit/{{user.bike_id}}">Edit Your Bike</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" href="/add" {{#unless user}}data-toggle="modal" data-target="#loginModal"{{/unless}}>+ Add Your Bike</a>
            </li>
            {{/if}}

            {{#if user}}
              <div class="dropdown">
                <a class="dropdown-toggle custom-dropdown" href="/profile" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                  <img src="/images/user-sm.png" width="30" height="30" alt="User Profile Icon">
                </a>

                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuLink">
{{!--                   <a class="dropdown-item" href="/profile">Profile</a> --}}
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </div>
            {{else}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" data-toggle="modal" data-target="#loginModal" href="/">Log in</a>
            </li>
            {{/if}}

          </ul>
        </nav>
        <h4 class="text-muted amb-text-logo"><a href="/">{{app_name}}</a></h4>
      </div>

    {{{body}}}

<br><br>
  <footer>{{#unless is_feedback_page}}<a href="/feedback">Feedback / Questions</a>{{/unless}}<p><small>©2017 AboutMyBike.com</p></small></p></footer>
  </div>
 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{app_name}} Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
{{!-- 
        <form action="/login" method="post" id="loginForm">
          <input name="username" id="username" type="text" placeholder="Your username" />
          <input name="password" id="password" type="password" placeholder="Your password"/>
          <input type="hidden" id="target" name="target" value="/" />
          <input type="submit" />
        </form> --}}
        <a href="/auth/facebook"><img src="/images/login-with-facebook.png" width="200" height="42" alt="Log in with Facebook"></a>

       </div>
      </div>
    </div>
  </div>


  <!-- PLACEHOLDER to preload js for other pages. this hs is not used or required for main pages (home, bikes, bike and add) -->


    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

