<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{page_title}} - {{app_name}}</title>
    <link rel="stylesheet" media="all" href="/css/main.css" />
    <link rel="stylesheet" media="all" href="/css/spectrum.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- ah! get this shit out of the head -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
  </head>

  <body>

  <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right nav-link-hack">
            <li class="nav-item">
              <a class="nav-link" href="/bikes">Bikes</a>
            </li>
            <!-- remove this link when the user has created a bike -->
            {{#if user.bike_id}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" href="/edit/{{user.bike_id}}">Edit Your Bike</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" href="/add" {{#unless user}}data-toggle="modal" data-target="#signupModal"{{/unless}}>+ Add Your Bike</a>
            </li>
            {{/if}}

            {{#if user}}
              <div class="dropdown">
                <a class="dropdown-toggle custom-dropdown" href="/profile" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                  {{#if user.picture}}
                  <img class="round-avatar" src="{{user.picture}}" alt="User Profile Icon">
                  <div style="width: 40px; display: inline-block;">&nbsp;</div>
                  {{else}}
                  <img src="/images/user-sm.png" width="30" height="30" alt="User Profile Icon">
                  {{/if}}
                </a>
                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {{#if user.username}}<a class="dropdown-item" href="/u/{{user.username}}">Profile</a>{{/if}}
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </div>
            {{else}}
            <li class="nav-item">
              <a class="nav-link auth-req-link" data-toggle="modal" data-target="#loginModal" href="/">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link auth-req-link" data-toggle="modal" data-target="#signupModal" href="/">Sign up</a>
            </li>
            {{/if}}

          </ul>
        </nav>
        <h4 class="text-muted amb-text-logo"><a href="/">{{app_name}}</a></h4>
      </div>

    {{#if flash_message}}
      <div class="alert alert-warning">{{flash_message}}</div>
    {{/if}}

    {{{body}}}

<br><br>
  <footer>{{#unless is_feedback_page}}<p><a href="/feedback">Technical Support / Feedback</a></p>{{/unless}}<p style="font-size: smaller;">©{{year}} AboutMyBike.com · <a href="/privacy">Privacy</a> · <a href="/terms">Terms of Service</a></p></p>
  </footer>
  </div>

 <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create an {{app_name}} account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div style="text-align: center;">
          <a href="/auth/facebook" class="button"><img src="/images/continue-with-facebook.png" class="continue-with-facebook-btn" width="306" height="73" alt="Continue with Facebook"></a>
          <p class="divider">or</p>
        </div>

        <form action="/signup" method="post" id="signupForm" class="modal-form">
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
            <p class="form-text text-muted">We won't share your email.</p>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          </div>
          <div style="text-align: center;">
            <input type="submit" class="btn btn-warning" value="Sign up">
          </div>
          <p class="disclaimer">
            By clicking one of the buttons above, you agree to our <a target="_blank" href="https://aboutmybike.com/terms">Terms of Service</a> and <a target="_blank" href="https://aboutmybike.com/privacy" class="ga">Privacy Policy</a>.
          </p>

          <div class="form-group" style="margin-top: 20px;">
            <p>Already have an account? <a class="auth-req-link" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" href="/">Log in</a></p>
          </div>
        </form>

       </div>
      </div>
    </div>
  </div>


 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div style="text-align: center;">
          <a href="/auth/facebook" class="button"><img src="/images/continue-with-facebook.png" class="continue-with-facebook-btn" width="306" height="73" alt="Continue with Facebook"></a>
          <p class="divider">or</p>
        </div>

        <form action="/login" method="post" id="loginForm" class="modal-form">

          <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Email or username" required>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          </div>
          <div style="text-align: center;">
            <input type="submit" class="btn btn-warning" value="Log in">
          </div>

          <div class="form-group" style="margin-top: 20px;">
            <p>Don't have an account yet? <a class="auth-req-link" data-dismiss="modal" data-toggle="modal" data-target="#signupModal" href="/">Sign up</a></p>
          </div>

        </form>
       </div>
      </div>
    </div>
  </div>

    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/tab.js"></script>
    <script src="/javascripts/dropdown.js"></script>
    <script src="/javascripts/awesomplete.js"></script>
    <script src="/javascripts/spectrum.js"></script>

    <script src="/javascripts/jquery.zoom.js"></script>

    <script src="/javascripts/jquery-are-you-sure.js"></script>

    <script src="/javascripts/amb-edit/autocomplete-brands.js"></script>
    <script src="/javascripts/amb-edit/edit-pushstate.js"></script>
    <script src="/javascripts/amb-edit/submit-basics.js"></script>
    <script src="/javascripts/amb-edit/upload.js"></script>


    <script src="/javascripts/common.js"></script>

    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

