<div class="container">
  <div class="row">
    <div class="col-2">
    {{#if profile_user.picture}}
      <p><img class="profile-photo float-right" src="{{profile_user.picture}}" alt="{{profile_user.username}}'s profile photo" width="50" height="50"></p>
    {{else}}
       <img class="profile-photo float-right" src="/images/user-sm.png" width="50" height="50" alt="User Profile Icon">
    {{/if}}
    </div>
    <div class="col-10">
      <h3 class="title">{{profile_user.username}}</h3>
      <div class="float-right edit-link-align-to-title"><a href="/profile_edit/{{profile_user.username}}">Edit Profile</a></div>
      <dl>
        {{#if profile_user.bio}}
        <dt>Bio</dt>
        <dd>{{profile_user.bio}}</dd>
        {{else}}
          {{#if is_users_profile}}
          <dt>Bio</dt>
          <dd><a href="/profile_edit/{{profile_user.username}}">add bio</a></dd>
          {{/if}}
        {{/if}}

        {{#if profile_user.website}}
        <dt>Website</dt>
        <dd><a href="{{profile_user.website}}" target="_blank">{{profile_user.website}}</a></dd>
        {{else}}
          {{#if is_users_profile}}
          <dt>Website</dt>
          <dd><a href="/profile_edit/{{profile_user.username}}">add website</a></dd>
          {{/if}}
        {{/if}}

        {{#if profile_user.bike_id}}
        <dt>Bike</dt>
        <dd>
          <a href="/bike/{{profile_user.bike_id}}">
            <img class="user-profile-bike-photo" width="120" height="90" src="{{s3Url}}{{profile_user.bike_main_photo}}" alt="{{profile_user.username}}'s bike">
          </a>
          {{#if is_users_profile}}
          <br><a href="/edit/{{profile_user.bike_id}}">edit bike</a></dd>
          {{/if}}
        </dd>
        {{else}}
          {{#if is_users_profile}}
          <dt>Bike</dt>
          <dd><a href="/add">add bike</a></dd>
          {{/if}}
        {{/if}}

        <dt>Joined</dt>
          <dd>{{profile_user.join_date}}</dd>
      </dl>
      {{#if is_users_profile}}
        <p><a href="/password_change/{{profile_user.username}}">Change password</a></p>
      {{/if}}
    </div>
  </div>
</div>

